<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index de Usuario</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="CSS/estiloIndex.css">
    <href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" /></head>
<body>
    <header>
        <!--Aqui falta referenciar que es lo que vamos a abrir cuando le piken a cada texto-->
        <h1>Bienvenido a SoftGarden</h1>
        <nav>
            <ul>
                <li><a href="indexUser.html" style="color: rgb(66, 66, 66);">Inicio</a></li>
                <li><a href="#" style="color: rgb(66, 66, 66);">Perfil</a></li>
                <li><a href="#" style="color: rgb(66, 66, 66);">Configuración</a></li>
                <li><a href="login.html" style="color: rgb(66, 66, 66);">Cerrar Sesión</a></li>
            
            </ul>
        </nav>
    </header>
    <!--Este es el body de la pagina aqui podemos agregar lo que querramos deje solo un titulo y un parrafo-->
    <main>
        <h2>USUARIO</h2>
        <h3>Hola, Bienvenido. </h3>
        <p>Aqui tenemos que poner un texto que le querramos decir al usuario</p>
        
    </main>
    
    <section class="container-fluid footer_section">
        <p>
          &copy;
          2024 All Rights Reserved. Design by Miguel Mora.
        </p>
        <p>
         SoftGarden&#174; 
        </p>
      </section>
</body>
</html>
